<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Paul_Vendors::vendor_head" title="Vendors" module="Paul_Vendors" sortOrder="100" resource="Paul_Vendors::vendor_head" parent="Magento_Catalog::catalog" />
        <add id="Paul_Vendors::vendor" title="Vendors" module="Paul_Vendors" sortOrder="20" parent="Paul_Vendors::vendor_head" action="vendors/vendors" resource="Paul_Vendors::vendor" />
    </menu>
</config>